.reddit-btn {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    border: 2px solid #FF5700;
    background-color: transparent;
    text-align: center;
    display: flex;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-top-left-radius: 50px; 
    border-top-right-radius: 50px; 
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px; 
    margin-top: 15px;
    margin-bottom: 30px;
}

.reddit-btn:hover {
    cursor: pointer;
}

.reddit-btn:active {
    background-color: rgba(255, 87, 0, 0.1); 
    border-color: #FF4500; 
}

.reddit-btn-text {
    font-weight: 500;
    margin: 0;
    margin-bottom: 5px;
    padding: 0;
    color: #FF5700;
}